.profile {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;

    @media only screen and (max-width: 319px) {
        height: unset;
    }

    &-header {
        height: auto;
        width: 590px;

        @media only screen and (max-width: 600px) {
            padding: 0 20px;
        }

        &-title {
            @media only screen and (max-width: 319px) {
                font-size: 15px;
            }
        }

        &-subtitle {
            font-size: 30px;

            @media only screen and (max-width: 600px) {
                font-size: 25px;
            }

            @media only screen and (max-width: 319px) {
                font-size: 15px;
            }
        }

        &-list {
            margin: 30px 0;
            text-align: center;
        }
    }
}

h1 {
    font-size: 90px;
    line-height: 90px;
    margin: unset;

    @media only screen and (max-width: 319px) {
        font-size: 40px;
        line-height: 40px;
    }
}

*{
    box-sizing: border-box;
}

i {
    font-size: 50px;
    padding: 0 15px;
    font-weight: 400;

    @media only screen and (max-width: 414px) {
        font-size: 35px;
    }

    @media only screen and (max-width: 325px) {
        font-size: 25px;
    }
}

.secondLine {
    @media only screen and (max-width: 600px) {
        margin-top: 20px
    }
}
