<div class="profile">
    <div class="profile-header">
        <h1>Rich</h1>
        <h1>Lira</h1>
        <p class="profile-header-subtitle">I like to build new things.<br>I'm a Software Engineer.</p>
        <hr>
        <div class="profile-header-list">
            <a href="https://www.linkedin.com/in/ricardolira/" target="_blank" id="linkedin">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://github.com/richlira" target="_blank" id="github">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://dev.to/richlira" target="_blank" id="devto">
                <i class="fab fa-dev"></i>
            </a>
            <a href="https://www.instagram.com/richlira/" target="_blank" id="instagram">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://twitter.com/soyrichlira" target="_blank" id="twitter">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://stackoverflow.com/users/5848847/richlira" target="_blank" id="stackoverflow">
                <i class="fab fa-stack-overflow secondLine"></i>
            </a>
        </div>
    </div>
</div>   